
:root{
    --primary: #2e2e2e;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
  

@layer base {
    :root {
      --background: #ffffff;
      --foreground: #0a0a0a;
  
      --card: #ffffff;
      --card-foreground: #0a0a0a;
  
      --popover: #ffffff;
      --popover-foreground: #0a0a0a;
  
  
      --textPrimary: #2e2e2e;
      --primary: #2e2e2e;
      --primary-foreground: #f7f7f7;
  
      --secondary: #f5f5f5;
      --secondary-foreground: #2e2e2e;
  
      --muted: #f5f5f5;
      --muted-foreground: #7a7a7a;
  
      --accent: #f5f5f5;
      --accent-foreground: #2e2e2e;
  
      --destructive: #ff3b30;
      --destructive-foreground: #f7f7f7;
  
      --border: #e8e8e8;
      --input: #e8e8e8;
      --ring: #0a0a0a;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: #0a0a0a;
      --foreground: #f7f7f7;
  
      --card: #00000095;
      --card-foreground: #f7f7f7;
  
      --popover: #0a0a0a;
      --popover-foreground: #f7f7f7;
  
      --primary: #363636a1;
      --primary-foreground: #ffffff;
  
      --textPrimary: #f7f7f7;
  
      --secondary: #2c2c2c;
      --secondary-foreground: #f7f7f7;
  
      --muted: #2c2c2c;
      --muted-foreground: #a6a6a6;
  
      --accent: #2c2c2c;
      --accent-foreground: #f7f7f7;
  
      --destructive: #ff453a;
      --destructive-foreground: #f7f7f7;
  
      --border: #2c2c2c;
      --input: #2c2c2c;
      --ring: #d8d8d8;
  
  
      --tw-ring-offset-color: #0a0a0a; /* Redeclared for dark mode */
    }
  }