[user]
	email = ""
	name = ""
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = true
	ff = only
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[alias]
	st = status
    a = add
    b = branch
    c = commit
    co = checkout
	bl = show-branch --color --list 

	dfm = "!git diff --name-status "
	df = "!git diff --name-only HEAD~"

	cms = "!git --no-pager log -10 --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"

	cob = "!git branch | fzf | xargs -o git checkout"

	sq = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --squash"
	rb = "!git rebase -i --autosquash main"

	vw = "!gh pr view --web"
	ci = "!gh pr checks"

[pager]
	diff = false
[rebase]
	autosquash = true
