[user]
	email = ""
	name = ""
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = true
	ff = only
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[alias]
	st = status
    a = add
    b = branch
    c = commit
    co = checkout
    cob = checkout -b

	df = "!git diff --name-status "

	cms = "!git --no-pager log -15 --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
	stashes = stash list
	amend = commit --amend --no-edit
	ssm  = stash push -m $1  # Stash save with message
	bl = show-branch --color --list # git branch -vv
	sq = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --squash"
	rb = "!git rebase -i --autosquash main"
	cob = "!git branch | fzf | xargs -o git checkout"
	rb = "!git rebase -i --autosquash main"
[pager]
	diff = false
[rebase]
	autosquash = true
